<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dduce.expensetracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MaterialTheme">
        <activity
            android:name="com.dduce.expensetracker.activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:exported="true"
            android:name="com.dduce.expensetracker.activities.SignInActivity" />
        <activity
            android:exported="true"
            android:name="com.dduce.expensetracker.activities.MainActivity" />
        <activity
            android:exported="true"
            android:name="com.dduce.expensetracker.activities.AddEntryActivity"
            android:screenOrientation="fullSensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dduce.expensetracker.activities.MainActivity" />
        </activity>
        <activity android:name="com.dduce.expensetracker.activities.EditEntryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dduce.expensetracker.activities.MainActivity" />
        </activity>
        <activity
            android:exported="true"
            android:name="com.dduce.expensetracker.activities.CategoriesActivity" />
        <activity
            android:exported="true"
            android:name="com.dduce.expensetracker.activities.AddCategoryActivity" />
        <activity
            android:exported="true"
            android:name="com.dduce.expensetracker.activities.EditCategoryActivity" />
        <activity
            android:exported="true"
            android:name="com.dduce.expensetracker.activities.MembersActivity" />
        <activity
            android:exported="true"
            android:name="com.dduce.expensetracker.activities.AddMemberActivity" />
        <activity
            android:exported="true"
            android:name="com.dduce.expensetracker.activities.EditMemberActivity" />
    </application>

</manifest>