<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dduproject.expensetracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MaterialTheme">
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:exported="true"
            android:name=".activities.SignInActivity" />
        <activity
            android:exported="true"
            android:name=".activities.MainActivity" />
        <activity
            android:exported="true"
            android:name=".activities.AddEntryActivity"
            android:screenOrientation="fullSensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity android:name=".activities.EditEntryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:exported="true"
            android:name=".activities.CategoriesActivity" />
        <activity
            android:exported="true"
            android:name=".activities.AddCategoryActivity" />
        <activity
            android:exported="true"
            android:name=".activities.EditCategoryActivity" />
        <activity
            android:exported="true"
            android:name=".activities.MembersActivity" />
        <activity
            android:exported="true"
            android:name=".activities.AddMemberActivity" />
        <activity
            android:exported="true"
            android:name=".activities.EditMemberActivity" />
    </application>

</manifest>